/* Definitions */
:root {
	/* Colors */
	--background-color: rgb(74, 92, 104);
	--text-color: rgb(102, 102, 102);
	--input-background-color: rgb(102, 117, 126);
	--input-text-color: rgb(255, 255, 255);
	--input-text-placeholder-color: rgb(176, 176, 176);
	--highlight-color: rgb(255, 207, 0);

	/* Dimensions */
	--button-size: 3rem;
	--button-group-size: 4rem;

	/* Transition timing */
	--ease: .5s ease .1s;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	/* Set default colors and font */
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
}

#templates {
	display: none;
}

/* Page and page elements generic */
.page {
	display: none;
}

.page.selected {
	display: block;
}

.page .content {
background-color: rgba(60, 50, 50, .1); /* debug */
	position: absolute;
	z-index: 2;
	transition: left var(--ease), top var(--ease), width var(--ease), height var(--ease);
}

/* Image buttons in groups on top/bottom (or left/right in landscape mode) */
.buttons {
	transition: left var(--ease), top var(--ease), width var(--ease), height var(--ease);
}

.button {
	width: var(--button-size);
	height: var(--button-size);
	transition: left var(--ease), top var(--ease);
}

.button:hover {
  filter: invert(0) sepia(1) saturate(13) hue-rotate(349.2deg) brightness(0.94);
}

@media (orientation: landscape) {
	.buttons.x2,
	.buttons.x4 {
		position: absolute;
		height: 100%;
		width: var(--button-group-size);
	}
	.buttons.x2 .button,
	.buttons.x4 .button {
		position: absolute;
		left: calc((var(--button-group-size) - var(--button-size)) / 2);
	}
	.buttons.x2 .button:nth-child(1) {
		top: calc(12.5% - var(--button-size) / 2);
	}
	.buttons.x2 .button:nth-child(2) {
		top: calc(87.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(1) {
		top: calc(12.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(2) {
		top: calc(37.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(3) {
		top: calc(62.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(4) {
		top: calc(87.5% - var(--button-size) / 2);
	}

	/* Page specific - projects & members */
	#projects > div:first-child .buttons,
	#members > div:first-child .buttons {
		left: 0;
		top: 0;
	}
	#projects > div:last-child .buttons,
	#members > div:last-child .buttons {
		left: calc(100% - var(--button-group-size));
		top: 0;
	}
	#projects .content,
	#members .content {
		left: var(--button-group-size);
		top: 0;
		width: calc(100% - 2 * var(--button-group-size));
		height: 100%;
	}
}

@media (orientation: portrait) {
	.buttons.x2,
	.buttons.x4 {
		position: absolute;
		width: 100%;
		height: var(--button-group-size);
	}
	.buttons.x2 .button,
	.buttons.x4 .button {
		position: absolute;
		top: calc((var(--button-group-size) - var(--button-size)) / 2);
	}
	.buttons.x2 .button:nth-child(1) {
		left: calc(12.5% - var(--button-size) / 2);
	}
	.buttons.x2 .button:nth-child(2) {
		left: calc(87.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(1) {
		left: calc(12.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(2) {
		left: calc(37.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(3) {
		left: calc(62.5% - var(--button-size) / 2);
	}
	.buttons.x4 .button:nth-child(4) {
		left: calc(87.5% - var(--button-size) / 2);
	}

	/* Page specific - projects & members */
	#projects > div:first-child .buttons,
	#members > div:first-child .buttons {
		left: 0;
		top: 0;
	}
	#projects > div:last-child .buttons,
	#members > div:last-child .buttons {
		left: 0;
		top: calc(100% - var(--button-group-size));
	}
	#projects .content,
	#members .content {
		left: 0;
		top: var(--button-group-size);
		width: 100%;
		height: calc(100% - 2 * var(--button-group-size));
	}
}

/* Page specific - login */
#login .logo {
	display: flex;
	flex-direction: row;
}

#login .logo img {
	flex: auto;
	height: 70%;
	max-height: 20em;
}

#login .credentials,
#profile .profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#login .credentials .entry,
#profile .profile .entry {
	flex: 3 1 auto;
}

#login .credentials .action {
	width: 2.5em;
	height: 2.5em;
	margin-left: 1em;
}

#login .credentials input, 
#profile input {
	display: block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

/* Input elements */
input {
	border: none;
	border-radius: 0;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--input-text-color);
	background-color: var(--input-background-color);
	box-shadow: none;
}

input[type="password"] {
	text-overflow: clip;
}

input:invalid {
	box-shadow: none;
}

/* Navigation elements */
a.nav {
	display: block;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

a.action {
	display: inline-block;
/*
	border: 1px solid #333;
	border-radius: 4px;
	padding: 0.3em;
*/
}

/* Notifications */
#notifications {
	display: block;
	position: absolute;
	z-index: 10;
	top: .4em;
	right: .4em;
	width: 30em;
	max-width: 60%;
	overflow: hidden;
}

#notifications .close {
	display: inline-block;
	position: absolute;
	left: 5px;
	cursor: pointer;
}

#notifications .empty .close,
#notifications .hidden .close {
	display: none;
}

#notifications .notification {
	position: relative;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 2px;
	height: 4.7em;
	border-radius: 8px;
	color: rgba(255, 255, 255, 1);
	overflow: hidden;

	-webkit-transition: height .5s ease .1s, padding-top .5s ease .1s, padding-bottom .5s ease .1s, padding-right .5s ease .1s, color .5s ease .1s;
	-moz-transition: height .5s ease .1s, padding-top .5s ease .1s, padding-bottom .5s ease .1s, padding-right .5s ease .1s, color .5s ease .1s;
	-ms-transition: height .5s ease .1s, padding-top .5s ease .1s, padding-bottom .5s ease .1s, padding-right .5s ease .1s, color .5s ease .1s;
	-o-transition: height .5s ease .1s, padding-top .5s ease .1s, padding-bottom .5s ease .1s, padding-right .5s ease .1s, color .5s ease .1s;
	transition: height .5s ease .1s, padding-top .5s ease .1s, padding-bottom .5s ease .1s, padding-right .5s ease .1s, color .5s ease .1s;
}

#notifications .notification.empty,
#notifications .notification.hidden {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	color: rgba(255, 255, 255, 0);
}

#notifications .notification.info {
	background-color: rgba(0, 255, 0, .8);
	color: #333;
}

#notifications .notification.error {
	background-color: rgba(255, 0, 0, .8);
	color: #fff;
}

#notifications .notification.empty,
#notifications .notification.hidden {
	background-color: rgba(200, 200, 200, .8);
}

#notifications .notification .count {
	display: block;
	line-height: 1.8em;
	position: absolute;
	border-radius: 1em;
	width: 2em;
	height: 2em;
	top: .4em;
	right: .4em;
	background-color: rgba(0, 0, 0, .1);
	color: #fff;
	text-align: center;
}
#notifications .notification .count:empty {
	display: none;
}

#notifications .notification .content {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#notifications .notification.multi {
	padding-right: 4em;
}

#notifications .timestamp {
	font-size: .7em;
	color: #333;
}

/* Display a block (div) bordered (yellow/orange) */
.border {
	border-width: 2px;
	border-color: var(--highlight-color);
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	background-color: var(--input-background-color);
}

/* Underline (all but last) input elements within bordered block */
.border input:not(:last-child) {
	border-bottom-width: 1px;
	border-bottom-color: var(--input-text-color);
	border-bottom-style: solid;
}

/* Prevent 'glow' on input elements on Safari */
*:focus {
	outline: none;
}

/* Placeholder color forced */
::placeholder,			/* Newer browsers, expirimental */
::-webkit-input-placeholder,	/* Chrome/Opera/Safari */
::-moz-placeholder,		/* Firefox 19+ */
:-ms-input-placeholder,		/* IE 10+ */
:-moz-placeholder {		/* Firefox 18- */
	color: var(--input-text-placeholder-color);
}
