*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #333;
}

body {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
}

.page {
	display: none;
}

.page.selected {
	display: block;
}

.page li {
	cursor: pointer;
}

input {
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	box-shadow: none;
}

input:required + span.required::after {
	display: inline-block;
	content: "*";
}

input:invalid {
	border-width: 2px;
	border-color: #f00;
}

:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
	box-shadow: none;
}

a.nav {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

a.action {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 0.3em;
}
