*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	/* Set default colors and font */
	background-color: #4a5c68;
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
}

#templates {
	display: none;
}

.page {
	display: none;
}

.page.selected {
	display: block;
}

.page li {
	cursor: pointer;
}

.button-row {
	display: flex;
	flex-direction: row;
	margin-top: 8px;
	margin-bottom: 8px;
}

.button-row img {
	flex: auto;
	height: 2.5em;
}

input {
	border: none;
	border-radius: 0px;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	background-color: #66757e;
	box-shadow: none;
}

input:required + span.required::after {
	display: inline-block;
	content: "*";
}

input:invalid {
	border-width: 2px;
	border-color: #f00;
}

:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
	box-shadow: none;
}

a.nav {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

a.action {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 0.3em;
}

/* Prevent 'glow' on input elements on Safari */
*:focus {
	outline: none;
}

/* Placeholder color forced */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}
